:root{
    --main-shadow-color: rgb(221, 227, 234);
	--echo-bg-color: rgb(236 240 241);
	--echo-body-bg-color: rgb(255, 255, 255);
}

html {
    font-size: 10px; /* 1rem = 10px */
}

body .kb-echo *{
	font-size: 1.4rem;
}

@media (max-width:768px){
	body .kb-echo *{
    	font-size: 1.2rem;
    }
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main{
	background-color: var(--echo-body-bg-color);
	margin: 1rem;
	padding: 1rem;
	border-radius: 28px;
	border-left: 1px solid var(--main-shadow-color);
	border-bottom: 1px solid var(--main-shadow-color);
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar :is(td,th){
	background-color: var(--echo-body-bg-color);
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar tbody td .kb-calendar-cell{
    padding: 0;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar tbody td .kb-calendar-cell .kb-calendar-cell-guide{
    position: static;
    padding: .2rem .5rem;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar thead :is(td,th):before{
    border-color: var(--main-shadow-color);
}
body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar thead :is(td,th):after {
    content: initial;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar tbody td:after{
	content:'';
	border-left:1px solid var(--main-shadow-color);
	height: 100%;
	top: 0;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar tbody td:before {
    content: "";
    border-bottom: 1px solid var(--main-shadow-color);
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
}

body .kb-echo .kb-echo-main .kb-echo-body .kb-echo-body-main .kb-calendar tbody td:first-child:after {
	border-left: none;
}